.row
  .col-lg-6
    = link_to admin_channels_list_path, class: "btn btn-default btn-admin-lg" do
      Channels
      %span.glyphicon.glyphicon-tasks

  .col-lg-6
    = link_to admin_users_list_path, class: "btn btn-default btn-admin-lg" do
      Users
      %span.glyphicon.glyphicon-user