body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.channel-status {
  ul {
    li {
      display: inline;
      list-style-type: none;
      padding-right: 20px;
    }
  }
}


